@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-3">Welcome Home, @ViewData["Username"] </h1>
</div>

<div class="lead">
    <p>Not sure what this does?</p>
</div>

@section FooterStuff {
    <p>Extra footer stuff!</p>
}