@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Home, @ViewData["Username"] </h1>
</div>

@section FooterStuff {
    <p>Extra footer stuff!</p>
}