@model IEnumerable<Student>

<h1>Student List</h1>

<h3>Sort By</h3>
<form>
    <label><input type="radio" name="sortBy" value="firstName" /> First Name</label>
    <label><input type="radio" name="sortBy" value="lastName" /> Last Name</label>
    <button>Sort!</button>
</form>

@foreach (var student in Model)
{
    <h2>@student.FirstName @student.LastName</h2>
    @if (student.DateOfBirth != null)
    {
        <p>DOB: @student.DateOfBirth.Value.ToString("MMM d, yyyy")</p>
    }
}