@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">File Upload!</h1>
    @if (Model.UploadedFileName != null)
    {
        <h2>Last Upload: @Model.UploadedFileName</h2>
        <img src="@Model.UploadedFileLink" />
    }
    <form method="post" enctype="multipart/form-data">
        <p>
            <label asp-for="Name"></label>
            <input asp-for="Name" />
            <span asp-validation-for="Name"></span>
        </p>

        <p>
            <label asp-for="Image"></label>
            <input asp-for="Image" type="file" />
            <span asp-validation-for="Image"></span>
        </p>

        <p><button type="submit">Upload</button></p>
    </form>
</div>